@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Utilizatori";
}

<h1>Lista Utilizatorilor</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Parola</th>
            <th>CUI</th>
            <th>Id Abonament</th>
            <th>Id Rol</th>
            <th>Vizibil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@user.Cui</td>
                <td>@user.userId</td>
                <td>@user.RoleId</td>
                <td>@(user.IsVisible ? "Da" : "Nu")</td>
            </tr>
        }
    </tbody>
</table>
